<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nmbothelper20181205104126.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f97b1ac9-1f5e-43ee-966c-a6dba82ff37d/resourcegroups/ajax-jquery-tutorial/providers/Microsoft.Web/sites/NMBotHelper20181205104126</ResourceId>
    <UserName>$NMBotHelper20181205104126</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://nmbothelper20181205104126.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>